<center><h1>Name: Zhitong Qiu</h1>
<br/>



<img src="assets/images/Me.JPG" alt="Pic of Self" style="width:304px;height:228px;">
<br/>

<h2>Place: Los Angeles, CA</h2>
<br/>

<h2>Year: Junior</h2>
<br/>

<fun><b>Fun Fact: I still don't know how to swim ):</b></fun>

<p><u>I am just excited to learn the magic of Ruby on Rails!</u></p>
</center>